@font-face {
    font-family: 'Poiret One';
    src: url('PoiretOne-Regular.woff2') format('woff2'),
        url('PoiretOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant SC';
    src: url('CormorantSC-Regular.woff2') format('woff2'),
        url('CormorantSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Light.woff2') format('woff2'),
        url('Kanit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

